<p-menubar styleClass="rounded-b-xl! shadow-sm shadow-slate-500 mb-2">
  <ng-template #start>
    <img
      class="w-14 h-14 saturate-200 dark:bg-gray-100/80 shadow-md dark:shadow-white rounded-full"
      src="clinic-logo.png"
      alt=""
    />
  </ng-template>
  <ng-template #end>
    <div class="flex items-center space-x-2">
      @if(userService.isAdmin) {
      <p-button
        (onClick)="openPatientForm()"
        label="Create Patient"
        size="small"
        outlined="true"
        icon="pi pi-plus"
        raised="true"
      ></p-button>
      <p-button
        (onClick)="openDoctorForm()"
        label="Create Doctor"
        size="small"
        outlined="true"
        icon="pi pi-plus"
        raised="true"
      ></p-button>
      <p-button
        (onClick)="openAppointmentForm()"
        label="Create Appointment"
        size="small"
        outlined="true"
        icon="pi pi-plus"
        raised="true"
      ></p-button>
      }

      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        shape="circle"
        size="normal"
      />
      <p>{{ (user$ | async)?.name }}</p>
      <p-menu #menu [model]="options" [popup]="true" />
      <p-button
        size="small"
        rounded="true"
        outlined="true"
        (click)="menu.toggle($event)"
        icon="pi pi-arrow-down"
        raised="true"
      />
      <p-button
        type="button"
        size="small"
        (click)="theme.toggle()"
        [icon]="(theme.isDark$ | async) ? 'pi pi-sun' : 'pi pi-moon'"
        [rounded]="true"
        [raised]="true"
        outlined="true"
      >
      </p-button>
    </div>
  </ng-template>
</p-menubar>
