<div class="text-sm tracking-tighter">
  <p-table
    #dt
    [value]="(appointments$ | async) ?? []"
    size="small"
    [scrollable]="true"
    scrollHeight="400px"
    [sortOrder]="-1"
    sortField="date"
    [rowHover]="true"
    editMode="row"
    dataKey="id"
    [globalFilterFields]="['department', 'doctor.name', 'patient.name']"
  >
    <ng-template #caption>
      <div class="text-start">
        <input
          type="text"
          pInputText
          size="30"
          placeholder="Search"
          pSize="small"
          (input)="applyFilterGlobal($event, 'contains')"
        />
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th>Patient</th>
        <th>Doctor</th>
        <th>Date</th>
        <th>Time</th>
        <th>Reason</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template #body let-appointment let-ri="rowIndex">
      <tr [pEditableRow]="appointment">
        <td>
          <div>
            <div>{{ appointment.patient.name }}</div>
          </div>
        </td>
        <td>
          <div>
            <div>{{ appointment.doctor.name }}</div>
          </div>
        </td>
        <td>{{ appointment.date }}</td>
        <td>{{ appointment.hours }}</td>
        <td>{{ appointment.reason }}</td>
        <td>
          <p-cellEditor>
            <ng-template #input>
              <p-select
                [options]="statuses"
                size="small"
                appendTo="body"
                [(ngModel)]="appointment.status"
                [style]="{ width: '100%' }"
              />
            </ng-template>
            <ng-template #output>
              <p-tag
              [rounded]="true"
                [value]="appointment.status"
                [severity]="getSeverity(appointment.status)"
              />
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <button
                    *ngIf="!editing"
                    pButton
                    pRipple
                    type="button"
                    pInitEditableRow
                    icon="pi pi-pencil"
                    (click)="onRowEditInit(appointment)"
                    text
                    rounded
                    severity="secondary"
                ></button>
                <button
                    *ngIf="editing"
                    pButton
                    pRipple
                    type="button"
                    pSaveEditableRow
                    icon="pi pi-check"
                    (click)="onRowEditSave(appointment)"
                    text
                    rounded
                    severity="secondary"
                ></button>
                <button
                    *ngIf="editing"
                    pButton
                    pRipple
                    type="button"
                    pCancelEditableRow
                    icon="pi pi-times"
                    (click)="onRowEditCancel(appointment, ri)"
                    text
                    rounded
                    severity="secondary"
                ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
