<div class="text-sm tracking-tighter">
  <p-table

    #dt
    [value]="patients"
    size="small"
    [scrollable]="true"
    scrollHeight="400px"
    [sortOrder]="-1"
    sortField="date"
    [rowHover]="true"
    [globalFilterFields]="['name', 'code', 'age', 'gender', 'phone', 'email', 'address', 'doctor', 'status', 'lastVisit']"
  >
    <ng-template #caption>
      <div class="text-start">
        <input
          type="text"
          pInputText
          size="30"
          pSize="small"
          placeholder="Search"
          (input)="applyFilterGlobal($event, 'contains')"
        />
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th>Name</th>
        <th>Code</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Doctor</th>
        <th>Status</th>
        <th>Last Visit</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template #body let-patient>
      <tr>
        <td>{{ patient.name }}</td>
        <td>{{ patient.code }}</td>
        <td>{{ patient.age }}</td>
        <td>{{ patient.gender }}</td>
        <td>{{ patient.phone }}</td>
        <td>{{ patient.email }}</td>
        <td>{{ patient.address }}</td>
        <td>{{ patient.doctor }}</td>
        <td>
          <p-message variant="simple" [severity]="patient.status === 'Active' ? 'success' : (patient.status === 'Inactive' ? 'warn' : 'info')">
            {{ patient.status }}
          </p-message>
        </td>
        <td>{{ patient.lastVisit }}</td>
        <td>
          <p-button [outlined]="true" rounded="true" icon="pi pi-file-edit"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
