<app-navigation></app-navigation>

<div class="max-w-[1600px] mx-auto">
  <div class="grid grid-cols-2 gap-4 p-4 bg-green-50/70 dark:bg-[#121212]">

    <div class="flex flex-col items-center shadow-inner dark:shadow-inner shadow-slate-400 gap-2 rounded-lg">
      <div>
        <img class="aspect-auto w-60" src="patient1.png" alt="" />
      </div>
      <p class="text-center font-mono p-2">
        {{ (patients$ | async)?.length ?? 0 }} Patients
      </p>
    </div>

    <div class="flex flex-col items-center shadow-inner dark:shadow-inner shadow-slate-400 gap-2 rounded-lg">
      <div>
        <img class="aspect-auto w-60" src="appointments1.png" alt="" />
      </div>
      <p class="text-center font-mono p-2">
        @if (getTodaysAppointments$(); as todaysAppointments$) {
          Today Appointments {{ (todaysAppointments$ | async)?.length ?? 0 }}
        } @else {
          Today Appointments 0
        }
      </p>
    </div>

    <div class="shadow-inner text-black dark:shadow-inner shadow-slate-400 dark:text-white col-span-2 p-1">
      <p class="text-[#1F2937] font-mono font-bold dark:text-[#5effac] p-1">
        Appointments
      </p>
      @if (appointmentsLoading$ | async) {
        <div class="flex justify-center items-center h-32">
          <app-spinner [isOverlay]="false" size="40px" />
        </div>
      } @else {
        <app-appointment-table [appointments]="(appointments$ | async) || []" />
      }
    </div>

    <div class="col-span-2 shadow-inner dark:shadow-inner shadow-slate-400 p-1">
      <p class="text-[#1F2937] font-mono font-bold dark:text-[#5effac] p-1">
        Patients Overview
      </p>
      @if (patientsLoading$ | async) {
        <div class="flex justify-center items-center h-32">
          <app-spinner [isOverlay]="false" size="40px" />
        </div>
      } @else {
        <app-patient-table [patients]="(patients$ | async) || []" />
      }
    </div>

  </div>
</div>
