@if(loading$ | async) {
<app-spinner />
} @if(currentPatient$ | async; as patient) {
<div class="flex justify-center items-center">
  <div class="p-8 flex flex-col items-center gap-6 w-2xl">
    <div class="absolute top-4 right-4">
      <p-button icon="pi pi-times" [rounded]="true" [text]="true" [raised]="true" pTooltip="Close" tooltipPosition="top"
        placeholder="autoHide: true" severity="danger" (onClick)="onClose()" />
    </div>
    <div class="absolute top-4 left-4 flex space-x-2">
      <p-button (onClick)="openEditPatient()" icon="pi pi-user-edit" pTooltip="Edit Patient" tooltipPosition="top"
        placeholder="autoHide: true" [rounded]="true" [text]="true" [raised]="true" severity="warn" />
      <p-confirmdialog />
      <p-button (onClick)="onDelete($event)" icon="pi pi-trash" pTooltip="Delete Doctor" tooltipPosition="top"
        placeholder="autoHide: true" [rounded]="true" [text]="true" [raised]="true" severity="danger" />
    </div>
    <img src="doctor_details.webp" alt="Doctor Avatar" class="w-32 h-32 rounded-full shadow-md object-cover mb-4" />
    <h2 class="text-2xl font-bold mb-2">{{ patient.name }}</h2>
    <span class="text-blue-500 font-semibold font-mono text-lg mb-2">{{
      patient.ucn
      }}</span>
    <div class="flex flex-col gap-2 w-full">
      <div class="flex justify-between">
        <span>Age:</span>
        <span>{{ patient.age }}</span>
      </div>
      <div class="flex justify-between">
        <span>Gender:</span>
        <span>{{ patient.gender }}</span>
      </div>
      <div class="flex justify-between">
        <span>Email:</span>
        <span>{{ patient.email }}</span>
      </div>
      <div class="flex justify-between">
        <span>Phone:</span>
        <span>{{ patient.phone }}</span>
      </div>
       <div class="flex justify-between">
        <span>Address:</span>
        <span>{{ patient.address.country }}, {{ patient.address.city }}, {{ patient.address.street }}</span>
      </div>
       <div class="flex justify-between">
        <span>Registered:</span>
        <span>{{ patient.createdAt | date: 'mediumDate' }}</span>
      </div>
         <div class="flex justify-between">
        <span>Status:</span>
        <span>{{ patient.status }}</span>
      </div>

    </div>
  </div>
</div>
}
