<div class="flex min-h-screen items-center justify-center">
  <div class="flex flex-col md:flex-row  rounded-2xl shadow-inner shadow-slate-300 dark:shadow-white  overflow-hidden w-full max-w-4xl">
    <div class="md:w-1/2 flex items-center justify-center  p-8">
      <img src="emr.jpg" alt="Doctor" class="w-full max-w-lg rounded-lg" />
    </div>
    <div class="md:w-1/2 flex items-center justify-center p-8">
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="w-full max-w-xs  gap-6">
        <h2 class="text-3xl font-bold  mb-4 text-center">Change your password account</h2>
        <div class="flex flex-col gap-2">

          <div>
            <p-floatlabel variant="on">
              <input pInputText type="password" id="password" formControlName="password" class="w-full" />
              <label for="password">Password</label>
            </p-floatlabel>
            @if (isInvalid('password')) { @if
              (changePasswordForm.get('password')?.errors?.['required']) {
                <p-message severity="error" size="small" variant="simple">Password is required.</p-message>
              } @if (changePasswordForm.get('password')?.errors?.['minlength']) {
                <p-message severity="error" size="small" variant="simple">Password must be at least 6 characters long.</p-message>
              } }
          </div>
          <div>
            <p-floatlabel variant="on">
              <input pInputText type="password" id="confirmPassword" formControlName="confirmPassword" class="w-full" />
              <label for="confirmPassword">Confirm Password</label>
            </p-floatlabel>
            @if (isInvalid('confirmPassword')) { @if
              (changePasswordForm.get('confirmPassword')?.errors?.['required']) {
                <p-message severity="error" size="small" variant="simple">Confirm Password is required.</p-message>
              } @if (changePasswordForm.get('confirmPassword')?.errors?.['passwordsMismatch']) {
                <p-message severity="error" size="small" variant="simple">Passwords do not match.</p-message>
              } }
          </div>
        </div>
        <div class="justify-center items-center flex mt-4">
          <p-button size="small" [disabled]="changePasswordForm.invalid || formSubmitted " severity="primary" type="submit">
            <span pButtonLabel>Change password</span>
          </p-button>
        </div>
      </form>
    </div>
  </div>
</div>
